[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==5.0.6"
django-cors-headers = "==4.3.1"
djangorestframework = "==3.15.1"
mysqlclient = "==2.2.4"
pillow = "==10.3.0"
python-dotenv = "==1.0.1"
quick-mailer = "==2022.2.22"
sqlparse = "==0.5.0"
typing-extensions = "==4.11.0"
cachetools = "==5.4.0"
certifi = "==2024.7.4"
charset-normalizer = "==3.3.2"
django-storages = "==1.14.4"
google-api-core = "==2.19.1"
google-auth = "==2.32.0"
google-cloud-core = "==2.4.1"
google-cloud-storage = "==2.18.0"
google-crc32c = "==1.5.0"
google-resumable-media = "==2.7.1"
googleapis-common-protos = "==1.63.2"
idna = "==3.7"
proto-plus = "==1.24.0"
protobuf = "==5.27.2"
pyasn1 = "==0.6.0"
pyasn1-modules = "==0.4.0"
requests = "==2.32.3"
rsa = "==4.9"
urllib3 = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.11"
